<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Fatmug Assignment{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Fatmug Assignment</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Sample Footer.</p>
    </footer>
</body>
</html>